
* {font-family: var(--body-font);}
#container {height: 100%; width:100%; font-size: 0;margin: 0; padding: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;margin: 0; padding: 0;}
#left {width: 33%; background:var(--primary-color-dark);}
#middle {width: 33%; background: var(--primary-color-dark);}
#right {width: 33%; background: var(--primary-color-dark);}

figcaption {
  font-size: 12px;
  color: var(--primary-color-light);
  font-style: italic;
}

p {
  color: var(--primary-color-light);
  text-align: center;
  font-size: 20px;
  margin-left: 110px;
  margin-right: 110px;
}

h2 {
  color: var(--highlight-color);
  font-family: var(--title-font);
  font-size: 30px;
}

#container {
  text-align: center;
}

.title{
   margin-top: 10px;
   width: 100%;
   font-family: var(--title-font);
   font-size: 60px;
   color: var(--highlight-color);
   text-align: center;
 }

img{
  width: 18vw;
}
