.map-container{
    padding-top: 10px;
    width: screen;
}
  
.info-window{
    float: left;
    border: 1px solid white;
    width: 25%;
    height: 90vh;
}

.map-box{
    float: left;
    border: 1px solid white;
    width: 54%;
    height: 90vh;
}

.toggles{
    float: left;
    border: 1px solid white;
    width: 20%;
    height: 90vh;
}
