.map-container{
    margin: 2%;
    width: 96%;
    height: 80vh;
    border: 1px solid var(--highlight-color);
    display: inline-block;
    background-size: contain;
    z-index: 1;
    position: relative;
}

.info-window{
    background-color: var(--primary-color-dark);
    border-style: solid;
    border-color: var(--highlight-color);
    margin: 1pc;
    opacity: .7;
    float: left;
    width: 25%;
    height: 90%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

.toggles{
    background-color: var(--primary-color-light);
    border-style: solid;
    border-color: var(--primary-color-dark);
    margin: 1pc;
    opacity: .7;
    float: right;
    width: 25%;
    height: 30%;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#mapid {
  z-index: 1;
  height: 100%;
  width: 100%
}
