.map-container{
    margin: 2%;
    width: 96%;
    height: 85vh;
    display: inline-block;
    background-size: contain;
    z-index: 1;
    position: relative;
}

.info-window{
    background-color: var(--primary-color-light);
    opacity: .7;
    float: bottom;
    width: 60vw;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.toggles{
    background-color: var(--primary-color-light);
    opacity: .7;
    float: right;
    width: 25%;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}



.info-window-info{
    padding: 5px;
    font-family: var(--body-font);
    color: var(--primary-color-dark);
    font-size: 1rem;
}

#mapid {
  z-index: 1;
  height: 100%;
  width: 100%
}

.toggle-info{
    color: var(--highlight-color);
    font-size: 1.5rem;
    font-family: var(--title-font);
}

label{
    color: var(--primary-color-dark);
    font-size: 1rem;
    font-family: var(--body-font);
}

.slider-label{
  opacity: 1;
  float: left;
  z-index: 10;
  position: relative;
  right: 0;
  left: 45;
  top: 160;
  display: inline-block;
}

.info-window a{
    position: relative;
    border-radius: 5px;
    color: var(--primary-color-light);
    background-color: var(--primary-color-dark);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.4s;
}


.info-window a:hover{
    background-color: var(--highlight-color);
    color: var(--primary-color-dark);
}

.button {
    background-color: var(--primary-color-dark);
    border: none;
    color: var(--highlight-color);
    width: 200px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-family: var(--body-font);
    margin-bottom: 20px;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .button:hover {
    color: var(--primary-color-dark);
    background-color:var(--highlight-color);
  }
