/* Here I style the header with our background color (change at the top) and add some padding */
.header {
    overflow: hidden;
    background-color: var(--primary-color-dark);
    padding: 10px;
}
  
/* this is all the formatting for each of the menu items */
.header a{
    float: left;
    color: var(--primary-color-light);
    width: 200px;
    font-family: var(--title-font);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px; 
    line-height: 15px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
  
/* this is the title formatting */
.header a.title{
    font-size: 30px;
    font-weight: 500;
    color: var(--highlight-color);
    transition-duration: 0.4s;
}

/* this is just so that when you hover over the title it doesn't highlight like a menu item, but still gets you back to the homepage*/
.header a.title:hover{
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
}

/* this is the settings for what happens when you hover the mouse over the other menu options - these can be changed by adjusting the variables at the top*/
.header a:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
}
  
/* Style the active/current link*/
.header a.active {
    background-color: var(--highlight-color);
    color: var(--primary-color-dark);
}
  
/* Float the link section to the right */
.header-right {
    float: right;
}

/* For the device width error message */

  #error-message {
    display: none;
 }
 
 @media only screen and (max-width: 1000px) {
    #error-message {
        text-align: center;
        vertical-align: middle;
        font-size: 1.5rem;
        display: flex;
        position: block;
        border: solid;
        border-color: white;
        z-index: 1000;
        color: black;
        width: 100vw;
        height: 100vh;
        background-color: white;
        padding: 2rem;
    }
 }
