
* {font-family: Arial, Helvetica, sans-serif;} 
#container {height: 100%; width:100%; font-size: 0;margin: 0; padding: 0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;margin: 0; padding: 0;}
#left {width: 33%; background: white;}
#middle {width: 33%; background: white;}
#right {width: 33%; background: white;}

figcaption {
  font-size: 12px;
  font-style: italic;
}

p {
  text-align: left;
  font-size: 20px;
  margin-left: 110px;
  margin-right: 110px;
}

h2 {
  font-size: 30px;
}

#menu-bar {
  width:  100%;
  background:  lightpink;
  height: 80px;
}

#container {
  text-align: center;
}

